<ng-content select="[toolbar]"></ng-content>
<mat-sidenav-container>
  <mat-sidenav
    #leftSideNav
    [mode]="leftSidenavMode"
    [opened]="leftAlwaysOpened()"
    [style.width.px]="leftSidenavWidth()"
  >
    <div class="sidenav">
      <ng-content select="[left-sidenav-top]"></ng-content>
      <span class="y-spacer"></span>
      <ng-content select="[left-sidenav-bottom]"></ng-content>
    </div>
  </mat-sidenav>

  <mat-sidenav
    #rightSideNav
    [mode]="rightSidenavMode"
    [opened]="rightAlwaysOpened()"
    position="end"
    [style.width.px]="rightSidenavWidth()"
  >
    <div class="sidenav">
      <ng-content select="[right-sidenav-top]"></ng-content>
      <span class="y-spacer"></span>
      <ng-content select="[right-sidenav-bottom]"></ng-content>
    </div>
  </mat-sidenav>

  <mat-sidenav-content
    [@contentMarginLeft]="{value: contentMarginLeft(), params: leftSidenavMinMaxWidth}"
    [@contentMarginRight]="{value: contentMarginRight(), params: rightSidenavMinMaxWidth}"
  >
    <!-- <mat-toolbar>
      <button mat-icon-button (click)="toggleLeftSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <ng-content select="[toolbar-left]"></ng-content>
      <span class="x-spacer"></span>
      <ng-content select="[toolbar-center]"></ng-content>
      <span class="x-spacer"></span>
      <ng-content select="[toolbar-right]"></ng-content>
      @if(fullscreen) {
      <button mat-icon-button (click)="toggleFullScreen()">
        <mat-icon>fullscreen</mat-icon>
      </button>
      }
    </mat-toolbar> -->
    
    <div class="content y-spacer">
      <ng-content select="[content-top]"></ng-content>
      <router-outlet></router-outlet>
      <ng-content select="[content-bottom]"></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<ng-content select="[statusbar]"></ng-content>
