<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="true">
    <div class="sidenav">
      <ng-content select="[sidenav-top]"></ng-content>
      <span class="y-spacer"></span>
      <ng-content select="[sidenav-bottom]"></ng-content>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <ng-content select="[toolbar-left]"></ng-content>
      <span class="x-spacer"></span>
      <ng-content select="[toolbar-center]"></ng-content>
      <span class="x-spacer"></span>
      <ng-content select="[toolbar-right]"></ng-content>
      @if(fullscreen === "true") {
      <button mat-icon-button (click)="toggleFullScreen()">
        <mat-icon>fullscreen</mat-icon>
      </button>
      }
    </mat-toolbar>
    <div class="content">
      <ng-content select="[content-top]"></ng-content>
      <router-outlet></router-outlet>
      <ng-content select="[content-bottom]"></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<ng-content select="[statusbar]"></ng-content>
