:host {
    display: flex;
    flex-direction: column;
    height: 100%;

    mat-sidenav-container {
        flex: 1;
        height: 50%;
        .mat-drawer-side {
            border-right-style: none;
        }

        mat-sidenav {
            transition: width 0.3s ease-in-out;

            .sidenav {
                display: flex;
                flex-direction: column;
                height: 100%;
            }
        }

        mat-sidenav-content {
            .content {
                display: flex;
                flex-direction: column;
                height: 100%;
                overflow-y: auto;
            }
        }
    }
    .x-spacer {
        flex: 1 1 auto;
    }
    .y-spacer {
        flex: 1 1 auto;
    }
}
