<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="true">
    <ng-content select="[sidenav-top]"></ng-content>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-nav-list>
        <mat-tree-node
          *matTreeNodeDef="let node"
          matTreeNodeToggle
          mat-ripple
          routerLinkActive="active"
          class="mat-list-item-hover"
        >
          <a
            mat-list-item
            [routerLink]="node.route"
            [activated]="node.label"
            [queryParams]="node.queryParams"
          >
            {{ node.label }}
          </a>
        </mat-tree-node>
      </mat-nav-list>

      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <div
          class="mat-tree-node mat-list-item-hover"
          matTreeNodeToggle
          mat-ripple
          routerLinkActive="active"
        >
          <a
            mat-list-item
            [routerLink]="node.route"
            [activated]="node.label"
            [queryParams]="node.queryParams"
          >
            {{ node.label }}
          </a>
          <span class="spacer"></span>
          <mat-icon>
            {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
          </mat-icon>
        </div>
        <div [style.display]="treeControl.isExpanded(node) ? 'block' : 'none'">
          <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </mat-nested-tree-node>
    </mat-tree>
    <ng-content select="[sidenav-bottom]"></ng-content>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar id="toolbar">
      <ng-content select="[toolbar-left]"></ng-content>
      <span>{{name}}</span>
      <span class="spacer"></span>
      <ng-content select="[toolbar-middle]"></ng-content>
      <span class="spacer"></span>
      @if(fullscreen === "true") {
      <button mat-icon-button (click)="toggleFullScreen()">
        <mat-icon>fullscreen</mat-icon>
      </button>
      }
      <ng-content select="[toolbar-right]"></ng-content>
    </mat-toolbar>
    <div class="container">
      <ng-content select="[container-top"></ng-content>
      <router-outlet></router-outlet>
      <ng-content select="[container-bottom"></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<mat-toolbar id="statusbar" color="primary"></mat-toolbar>
