:host {
    display: flex;
    flex-direction: column;
    height: 100vh;

    mat-sidenav-container {
        height: 100vh;

        .mat-drawer-side {
            border-right-style: none;
        }

        mat-sidenav {
            display: flex;
            flex-direction: column;
            width: 275px;
        }

        mat-sidenav-content {
            display: flex;
            flex-direction: column;

            .container {
                flex: 1;
                overflow-y: auto;
            }
        }
    }
    .statusbar {
        height: 35px;
        border: 1px red solid;
    }
}
