<ftc-layout
  #layout
  fullscreen="true"
  leftSidenavMode="side"
  leftSidenavMinWidthPx="75"
  leftSidenavMaxWidthPx="250"
>
  <mat-toolbar content-top>
    <button mat-icon-button (click)="layout.toggleLeftSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Fresh Thought Components Document</span>
    <span class="x-spacer"></span>
    <button mat-icon-button (click)="layout.toggleFullScreen()">
      <mat-icon>fullscreen</mat-icon>
    </button>
  </mat-toolbar>
  <ftc-sidemenu left-sidenav-top></ftc-sidemenu>
  <mat-toolbar content-bottom>
    <span>Layout Component Content Bottom</span>
  </mat-toolbar>
</ftc-layout>
