:host {
    mat-toolbar {
        background-color: var(--mat-table-background-color);
    }
    .x-spacer {
        flex: 1 1 auto;
    }
    .mat-column-multiSelect {
        width: 80px;
    }
    tr.expand-detail-row {
        height: 0;
    }

}
