<!-- <mat-form-field>
  <mat-label>Filter</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Search Text"
    #input
  />
</mat-form-field> -->

<mat-toolbar>
  <span>{{tableOption.caption}}</span>
  <span class="x-spacer"></span>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    (page)="pageChange.emit($event)"
    aria-label="Select page"
  ></mat-paginator>
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<table
  mat-table
  matSort
  multiTemplateDataRows
  [dataSource]="dataSource"
  (matSortChange)="sortChange.emit($event)"
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drop($event)"
>
  <ng-container matColumnDef="actions" [stickyEnd]="true">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">Actions</th>
    <td mat-cell *matCellDef="let element">
      <ng-container
        [ngTemplateOutlet]="actionCellTemplate"
        [ngTemplateOutletContext]="{$implicit: element}"
      ></ng-container>
      <button
        mat-icon-button
        aria-label="expand row"
        *ngIf="expandCellTemplate"
        (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()"
      >
        @if (expandedElement === element) {
        <mat-icon>keyboard_arrow_up</mat-icon>
        } @else {
        <mat-icon>keyboard_arrow_down</mat-icon>
        }
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="expandDetail">
    <td
      mat-cell
      *matCellDef="let element"
      [attr.colspan]="displayColumns().length"
    >
      <div
        [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'"
      >
        <ng-container
          [ngTemplateOutlet]="expandCellTemplate"
          [ngTemplateOutletContext]="{$implicit: element}"
        ></ng-container>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="multiSelect">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        (change)="$event ? toggleAllRows() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
        [aria-label]="checkboxLabel()"
      ></mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)"
        [aria-label]="checkboxLabel(row)"
      ></mat-checkbox>
    </td>
  </ng-container>

  @for( column of tableOption.columnDefs; track column) {
  <ng-container
    [matColumnDef]="column.field"
    [sticky]="column.sticky"
    [stickyEnd]="column.stickyEnd"
  >
    <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>
      <ng-container
        [ngTemplateOutlet]="headerCellTemplate || defaultCellTemplate"
        [ngTemplateOutletContext]="{$implicit: getCellDef(column.header || column.field, column.field)}"
      ></ng-container>
    </th>
    <td mat-cell *matCellDef="let element">
      <ng-container
        [ngTemplateOutlet]="valueCellTemplate || defaultCellTemplate"
        [ngTemplateOutletContext]="{$implicit: getCellDef( element[column.field], column.field)}"
      ></ng-container>
    </td>
  </ng-container>
  }
  <tr mat-header-row *matHeaderRowDef="displayColumns(); sticky: true"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayColumns(); when expandedElement === null"
    (click)="expandedElement = expandedElement === row ? null : row"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandDetail']"
    class="expand-detail-row"
  ></tr>
</table>

<ng-template #defaultCellTemplate let-cellDef>
  {{cellDef.value}}
</ng-template>
<!-- (click)="rowClick.emit(row)" -->
